.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

h1, h2, p, .nav-link {
    font-family: "Lato", sans-serif;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card {
  border: none;
  text-align: start;
  height: 340px;
  position: relative;
  overflow: hidden;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card:hover .card-img {
  transform: scale(1.05);
}


.footer{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 32px;
    align-items: center;
}

.img-logo{
    height: 80px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.p-curso{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2px;
}

.p-fecha-curso{
    font-weight: 300;
    font-size: 16px;
}

.p-fecha-experiencia{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2px;
}

.p-detalle-experiencia{
    font-size: 16px;
    font-weight: 300;
}

.container{
    margin-top: 60px;
}

.container-inicio {
    margin-top: 32px;
}

.p-subtitulo-inicio {
    font-size: 24px;
    font-weight: 600;
}

.p-bajada-inicio {
    font-size: 18px;
    font-weight: 300;
}

.titulo-inicio {
  font-size: 48px;
  font-weight: 700;
}

.titulo-secciones {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 12px;
}

.container-portafolio {
    margin-bottom: 120px;
}