.card-img{
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card {
  border: none;
}

.footer{
    color: black;
    padding: 30px;
    align-items: center;
}